@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}

header {
    
    background: linear-gradient(45deg, #008000, #90EE90);
    padding: 20px 0;
    
}

.menu {
    width: auto;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.logo {
    width: 20%;
}

/* main {


} */

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

/* .habilidades{
    display: inline-flex;
    margin: 10px 0 10px;

} */

footer {
    background: linear-gradient(45deg, #008000, #90EE90);;

}



