<section class="about">
	<div class="background">
		<img src="<%= about.background %>"/>
	</div>
	<div class="escudo">
		<img src="<%= about.logo %>"/>
	</div>
	
	<div class="informacao-rpg">
		<h1 class="title-rpg">Sobre o RPG</h1>
		<p class="descricao-rpg">
			<%= about.description %>
		</p>
	</div>
</section>