<header>
    <nav>
      <a href="index.html"><img src="../imagens/icons/logo.png" alt="Logo"/>
      <ul class="menu">
        <li class="menu-lista"><a href="/index">Home</a></li>
        <li class="menu-lista"><a href="/register">Cadastro</a></li>
        <li class="menu-lista"><a href="/characters">Personagens</a></li>
      </ul>
    </nav>
</header>